/* Reset y Tipografía */
        body, html { 
            height: 100%; 
            margin: 0; 
            font-family: 'Open Sans', sans-serif; 
            background-color: #ffffff; 
        }
        h1, h2, h3, h4, h5, h6, .btn { font-family: 'Montserrat', sans-serif; }

        /* Contenedor Principal (Efecto Ventana) */
        .wrapper {
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 25px;
        }

        .main-card {
            background: white;
            width: 100%;
            height: 90vh;
            border-radius: 20px;
            box-shadow: 0 10px 40px rgba(0,0,0,0.05);
            overflow: hidden;
            display: flex;
        }

        /* Barra Lateral Filtros */
        .sidebar-left {
            width: 280px;
            background: #242529;
            border-right: 1px solid #edf2f7;
            padding: 30px;
            display: flex;
            flex-direction: column;
            z-index: 10;
        }

        /* Área Central (Mapa) */
        .map-section {
            flex-grow: 1;
            position: relative;
            background: #e9ecef;
        }
        #map { height: 100%; width: 100%; }

        /* Barra Lateral Escenarios */
        .sidebar-right {
            width: 320px;
            background: #ffffff;
            border-left: 1px solid #edf2f7;
            display: flex;
            flex-direction: column;
        }

        .scroll-area {
            overflow-y: auto;
            padding: 20px;
            flex-grow: 1;
        }

        /* Tarjeta de Escenario */
        .sc-card {
            background: white;
            border-radius: 15px;
            border: 1px solid #f0f0f0;
            overflow: hidden;
            transition: all 0.3s ease;
            margin-bottom: 20px;
            box-shadow: 0 4px 6px rgba(0,0,0,0.02);
        }
        .sc-card:hover { transform: translateY(-5px); box-shadow: 0 12px 20px rgba(0,0,0,0.08); }
        .sc-img { height: 140px; background-color: #ddd; background-size: cover; background-position: center; }

        /* Botón Rojo Estilo Risaralda */
        .btn-principal {
            background-color: #e63946;
            color: white;
            border: none;
            padding: 12px;
            border-radius: 10px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1px;
            transition: 0.3s;
        }
        .btn-principal:hover { background-color: #c12a36; color: white; transform: scale(1.02); }

        /* Ajustes de Leaflet */
        .leaflet-popup-content-wrapper { border-radius: 12px; padding: 0; overflow: hidden; }
        .leaflet-popup-content { margin: 0; width: 200px !important; }